<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Demo</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>

    <body>
        <div class="container-a">
            <div class="container-b">
                <table class="table-style" id="table-b">
                    <tbody>
                        <tr>
                            <td width="70px">001</td>
                            <td width="70px">ML</td>
                            <td>[Python, Machine Learning, Mathematics]</td>
                        </tr>
                        <tr>
                            <td width="70px">002</td>
                            <td width="70px">Cloud</td>
                            <td>[AWS, Azure, Cloud Computing]</td>
                        </tr>
                        <tr>
                            <td width="70px">003</td>
                            <td width="70px">Software</td>
                            <td>[Java, Software Development, Software Testing]</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="container-c">
                <table class="table-style" id="table-c">
                    <tbody>
                        <tr>
                            <td width="70px">...</td>
                            <td>...</td>
                            <td width="100px">...</td>
                        </tr>
                        <tr>
                            <td width="70px">...</td>
                            <td>...</td>
                            <td width="100px">...</td>
                        </tr>
                        <tr>
                            <td width="70px">...</td>
                            <td>...</td>
                            <td width="100px">...</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="container-d">
                <table class="table-style" id="table-d">
                    <tbody>
                        <tr>
                            <td width="70px">Amelia</td>
                            <td>[Python, AWS, Java]</td>
                            <td width="100px">£22,500</td>
                        </tr>
                        <tr>
                            <td width="70px">Ava</td>
                            <td>[Machine Learning, Azure, Software Development]</td>
                            <td width="100px">£42,500</td>
                        </tr>
                        <tr>
                            <td width="70px">Emily</td>
                            <td>[Mathematics, Cloud Computing, Software Testing]</td>
                            <td width="100px">£50,500</td>
                        </tr>
                        <tr>
                            <td width="70px">George</td>
                            <td>[Python, Azure, Software Testing]</td>
                            <td width="100px">£21,500</td>
                        </tr>
                        <tr>
                            <td width="70px">Harry</td>
                            <td>[AWS, Software Development, Mathematics]</td>
                            <td width="100px">£25,000</td>
                        </tr>
                        <tr>
                            <td width="70px">Jack</td>
                            <td>[Java, Cloud Computing, Machine Learning]</td>
                            <td width="100px">£41,000</td>
                        </tr>
                        <tr>
                            <td width="70px">Layla</td>
                            <td>[Python, Cloud Computing, Software Development]</td>
                            <td width="100px">£40,000</td>
                        </tr>
                        <tr>
                            <td width="70px">Oliver</td>
                            <td>[AWS, Machine Learning, Software Testing]</td>
                            <td width="100px">£20,000</td>
                        </tr>
                        <tr>
                            <td width="70px">Sam</td>
                            <td>[Java, Azure, Mathematics]</td>
                            <td width="100px">£49,500</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <script src="{{ url_for('static', filename='script.js') }}"></script>
    </body>

</html>